/msvc/*

!/msvc/logic_sim.sln
!/msvc/logic_sim.vcxproj
!/msvc/logic_sim.vcxproj.filters
!/msvc/logic_sim.vcxproj.user
!/msvc/nonusercode.natjmc

imgui.ini
textures/*

*.exe
*.dll
*.pdb
*.exp
*.lib

*.ilk
*.iobj
*.ipdb
*.pgc
*.pgd
